html {
  font-size: 20px;
}

body {
  margin: 0px;
}

h1 {
  font-size: 63.15px;
}

h2 {
  font-size: 47.37px;
}

h3 {
  font-size: 35.54px;
}

h4 {
  font-size: 26.66px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

header {
  z-index: 999;
  height: 5em;
  border-bottom: solid 1px #e0dedc;
  width: 100%;
}

.header-totaal {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.header-rechts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.logo {
  margin: 0 2rem 0 2.3rem;
}
.logo:hover {
  cursor: pointer;
}

.page-title {
  font-family: rigid-square;
  margin: 0rem;
}

.header-text {
  padding: 1em 1em 1em 1em;
  font-weight: bold;
  font-family: "Secular One", sans-serif;
}

.profile {
  height: 2.5em;
  width: 2.5em;
  padding-right: 1.5em;
}

.subheader {
  border-style: none;
  width: 100%;
  height: 4em;
}

.zoekbalk {
  z-index: 999;
  height: 4em;
  border-bottom: solid 1px #e0dedc;
  display: flex;
  color: #c0beb9;
  align-items: center;
  padding-left: 3.5em;
}

.vergrootglas {
  height: 2em;
  width: 2em;
  color: black;
  padding-right: 1em;
}

.text-zoekbalk {
  border-style: none;
  width: 20em;
  font-family: yrsa, serif;
  font-size: 18px;
}

.text-zoekbalk:focus-visible {
  outline-style: none;
}

.filter {
  font-family: rigid-square, sans-serif;
  margin: 1rem 0rem 0rem 3.5rem;
  user-select: none;
}
.filter-button {
  display: inline-flex;
  align-items: center;
}

.filter-svg {
  height: 2rem;
  width: 2rem;
  padding-right: 1rem;
}

.filter-svg-active {
  fill: black;
}

.filter-svg:hover {
  cursor: pointer;
}

.button-pas-toe {
  display: none;
}

.button-pas-toe-zichtbaar {
  display: block;
}

.dropdown-totaal {
  display: none;
  user-select: none;
}

.dropdown-totaal-zichtbaar {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: -6rem 0rem 0rem 5rem;
  padding: 1rem 0rem 2rem 7rem;
}

.dropdown-categoriën,
.dropdown-duur,
.dropdown-niveau {
  display: inline-block;
}

button {
  font-family: rigid-square, sans-serif;
  font-size: 1em;
  font-weight: 800;
  padding: 0.75em 1em;
  border: none;
  color: #090940;
  background-size: 400%;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.button-categoriën,
.button-duur,
.button-niveau,
.button-pas-toe {
  color: #090940;
  width: 7.5rem;
  background-color: #feb51e;
}

.button-categoriën:hover,
.button-duur:hover,
.button-niveau:hover,
.button-pas-toe:hover {
  background-color: #090940;
  color: white;
  transition: 0.3s ease-in;
  background-position: right center;
  transform: scale(1.05);
}

.dropdown-content-categoriën,
.dropdown-content-duur,
.dropdown-content-niveau {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 15em;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-categoriën.show,
.dropdown-content-duur.show,
.dropdown-content-niveau.show {
  display: block;
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
  padding: 0.5em 0em 0.5em 0em;
  font-family: yrsa, serif;
}

label:hover {
  cursor: pointer;
}

.sectie-a {
  display: flex;
}
.werkvormen {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto;
  gap: 5em;
  padding: 5em;
}

@media screen and (max-width: 1050px) {
  .werkvormen {
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
  }
}

.werkvorm {
  background: #f9f8f8;
  height: 15em;
  width: 25em;
  border-style: solid;
  border-width: 1px;
  border-color: #e0dedc;
  align-self: center;
}

.img-werkvorm {
  height: 15em;
  width: 2 5em;
  transition: all 200ms cubic-bezier(0.42, 0, 0.72, 0.995); /* custom */
  transition-timing-function: cubic-bezier(0.42, 0, 0.72, 0.995); /* custom */
}

footer {
  font-family: rigid-square, sans-serif;
  padding: 1em;
  background: #625c51;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

span {
  font-size: 16px;
}
